@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins';
  color: white;
  font-size: 14px;
  line-height: 27px;
}

.slick-slide div {
  margin: 0 1rem;
}
